@keyframes slidein {
    from {
        -moz-transform: translateX(30px);
        -ms-transform: translateX(30px);
        -o-transform: translateX(30px);
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }

    to {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


@-moz-keyframes slidein {
    from {
        -moz-transform: translateX(30px);
        -ms-transform: translateX(30px);
        -o-transform: translateX(30px);
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }

    to {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes slidein {
    from {
        -moz-transform: translateX(30px);
        -ms-transform: translateX(30px);
        -o-transform: translateX(30px);
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }

    to {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeout {
    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeout {
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    to {
        opacity: 0;
    }
}

@keyframes fadein {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

.off-canvas-wrap {
    height: 100%;
}

.spinner {
    -moz-animation: fadein 0.3s;
    -o-animation: fadein 0.3s;
    -webkit-animation: fadein 0.3s;
    animation: fadein 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
}

.item {
    -webkit-animation: slidein 0.5s;
    -moz-animation: slidein 0.5s;
    -ms-animation: slidein 0.5s;
    -o-animation: slidein 0.5s;
    animation: slidein 0.5s;
    min-width: 300px;
   
}

.invis {
    opacity: 0 !important;
}

.vis {
    opacity: 1;
}

aside:first-child {
    padding-bottom: 2rem;
    overflow: auto;
    height: 100%;
    width: 100%;
    overflow: auto;
    height: 100%;
}


.presenter {
    padding: 0 0.2rem;
}

.notifications-area {
    left: 0;
    right: 1.6rem;
    right: 0;
    top: 1.6rem;
    -ms-opacity: 0.9;
    opacity: 0.9;
    position: absolute;
}

@media only screen and (min-width: 30.063em) {
    .presenter {
        padding: 0 2rem;
    }

    .notifications-area {
        width: 28rem !important;
        left: auto !important;
    }
}

.header {
    -moz-animation: fadeine 0.3s, slidein 0.3s;
    -o-animation: fadeine 0.3s, slidein 0.3s;
    -webkit-animation: fadeine 0.3s, slidein 0.3s;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation: fadeine 0.3s, slidein 0.3s;
}

.content {
    -moz-animation: slidein 0.6s;
    -o-animation: slidein 0.6s;
    -webkit-animation: slidein 0.6s;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation: slidein 0.6s;
    overflow: hidden;
    -moz-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}


.app-logo {
    position: absolute;
    left: 50%;
    margin: 8px 0px 0px 0px;
    width: 3.2rem;
    height: 1.8rem;
    background: url("../../res/images/ting-logo-writing.png") no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    vertical-align: middle;
    -moz-transform: translateX(-2rem);
    -ms-transform: translateX(-2rem);
    -o-transform: translateX(-2rem);
    -webkit-transform: translateX(-2rem);
    transform: translateX(-2em);
}


#backbutton {
    float: left;
    margin-right: 1rem;
    color: black;
}

#grid {
    position: relative;
}

.horizontal-stretch {
    left: 0;
    right: 0;
}

.vertical-stretch {
    position: absolute;
    bottom: 0;
    top: 0;
}

.headericon {
    position: absolute;
    top: 0.4rem;
    left: 0.5rem;
    text-indent: 0;
    font-size: 1.8rem;
}


.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin input[type="text"],
    .form-signin input[type="password"],
    .form-signin select {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
    }

.item {
    max-width: 500px;
    background-color: white;
    width: 10px;
}

.th {
    max-width: 500px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border: none;
}

.pincontent {
    margin: 0.7rem;
}

    .pincontent p {
        text-align: justify !important;
        line-height: 1.2rem;
        font-size: 0.9rem;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        overflow-wrap: break-word;
        margin-bottom: 0.1rem;
        color: rgba(0,0,0,0.7);
        font-family: 'Helvetica Neue','Helvetica','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',arial,sans-serif;
    }

    .pincontent h4 {
        font-size: 1.3rem;
        line-height: 1.1;
        margin-bottom: 0.3rem;
        color: rgb(62, 62, 62);
    }

    .pincontent .description {
        border-top-color: rgb(231, 231, 231);
        border-top-style: solid;
        border-top-width: .1rem;
        padding-top: 0.3rem;
        margin-top: 0.5rem;
    }


    .pincontent .button-group {
        margin: 0;
        margin-top: 0.4rem;
        padding: 0;
    }

        .pincontent .button-group li {
            width: 50%;
        }

    .pincontent .button {
        padding: 0.5rem 1rem;
        margin: 0;
        width: 100%;
        background-color: rgb(245, 245, 245);
        color: rgb(100,100,100);
    }

        .pincontent .button:hover {
            background-color: #606060;
            color: white;
        }

    .pincontent .own {
        background-color: #00b7e1 !important;
        color: white !important;
    }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    margin-top: .04rem;
    margin-bottom: .04rem;
}
